{
  "option_settings": [
    {
      "namespace": "aws:elasticbeanstalk:application:environment",
      "option_name": "AWS_ACCESS_KEY_ID",
      "value": "AKIAX7S6GKEMFWDVO4HL"
    },
    {
      "namespace": "aws:elasticbeanstalk:application:environment",
      "option_name": "AWS_SECRET_ACCESS_KEY",
      "value": "orUfT19Jhr2LfsNKiraY6ARiYBg3txyYghQun80h"
    }
  ]
}